%table
  %tr
    %th= "time"
    %th= "host"
    %th= "service"
    %th= "state"
    %th= "metric_f"
    %th= "tags"
  - query(qstr).each do |event|
    %tr
      %td= "#{Time.at(event.time).to_datetime}"
      %td= "#{event.host}"
      %td= "#{event.service}"
      %td= "#{event.state}"
      %td= "#{"%.2f" % event.metric_f}"
      %td= "#{event.tags.inspect}"





















